{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="header">
        <h1 style="padding:0;margin:0;">Repaire Motard</h1>
    </div>
    <div class="parallax" id="trans1">
        <div class="txt right">
            &#10085;Live<br/>
            Laugh<br/>
            Enjoy&#10085;
        </div>
        <div style="clear:both;"></div>
        <div class="txt right sub">
            Every Story is Beautiful<br/>
            But Ours is My Favorite
        </div>
    </div>
    <div class="content bg-dark text-white">
        <img style="float:right;margin-top:10px;margin-right:15px;width: 20%"
             src="{{ asset('assets/images/1920x1080.jpeg') }}"
             alt="Script R"/>
        <h2>Ici le prochain évènement</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Audeo dicere, inquit. Bonum liberi: misera orbitas.
            Paria sunt igitur. Frater et T. Duo Reges: constructio interrete. </p>

        <p><b>Si longus, levis.</b> Quis istud possit, inquit, negare? <a href='http://loripsum.net/' target='_blank'>Qualem
                igitur hominem natura inchoavit?</a> Si quae forte-possumus. Erat enim Polemonis. Quid sequatur, quid
            repugnet, vident. </p>

        <p><a href='http://loripsum.net/' target='_blank'>Equidem e Cn.</a> Falli igitur possumus. <b>Immo videri
                fortasse.</b> Eademne, quae restincta siti? Oratio me istius philosophi non offendit; Quamquam tu hanc
            copiosiorem etiam soles dicere. </p>

        <p><b>Conferam avum tuum Drusum cum C.</b> Praeclare hoc quidem. Verum hoc idem saepe faciamus. Tu vero, inquam,
            ducas licet, si sequetur; Primum divisit ineleganter; Cave putes quicquam esse verius. </p>

        <div style="clear:both;"></div>
    </div>
    <div class="parallax" id="trans2">
        <div class="txt left">
            Happiness
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            Un petit mot ici...
        </div>
    </div>

    <div class="content right bg-dark text-white">
        <img style="float:left;margin-top:10px;margin-left:15px;width:20%;"
             src="{{ asset('assets/images/1920x1080.jpeg') }}"
             alt="Mr and Mrs"/></a>
        <h2>Another Content Block</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequens enim est et post oritur, ut dixi. Hoc
            ipsum elegantius poni meliusque potuit. Quo tandem modo? Sed plane dicit quod intellegit. Tibi hoc
            incredibile, quod beatissimum. Duo Reges: constructio interrete. Si quicquam extra virtutem habeatur in
            bonis. Quid enim? </p>
        <p>Comprehensum, quod cognitum non habet? Sint ista Graecorum; Quantum Aristoxeni ingenium consumptum videmus in
            musicis? Sequitur disserendi ratio cognitioque naturae; </p>
        <div style="clear:both;"></div>
    </div>
    <div class="parallax" id="trans3">
        <div class="txt left">
            and they lived...
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            Happily Ever After
        </div>
    </div>

    <div id="footer" class="bg-dark text-white">
        <p>Designed with Love and Care</p>
        By: Sp6M3N</div>
{% endblock %}
