{% extends 'base.html.twig' %}

{% block title %}Edit EventReservation{% endblock %}

{% block body %}
    <h1>Edit EventReservation</h1>

    {{ include('event_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_reservation_index') }}">back to list</a>

    {{ include('event_reservation/_delete_form.html.twig') }}
{% endblock %}
