{% extends 'base.html.twig' %}

{% block title %}New EventReservation{% endblock %}

{% block body %}
    <h1>Create new EventReservation</h1>

    {{ include('event_reservation/_form.html.twig') }}

    <a href="{{ path('app_event_reservation_index') }}">back to list</a>
{% endblock %}
